TOKEN = # Main bot Token

ETH_PRICEBOT =      # token awaited
BTC_PRICEBOT =      # token awaited
SOL_PRICEBOT =      # token awaited
XMR_PRICEBOT =      # token awaited

BTC_URL = 'https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT'
ETH_URL = 'https://api.binance.com/api/v3/ticker/24hr?symbol=ETHUSDT'
SOL_URL = 'https://api.binance.com/api/v3/ticker/24hr?symbol=SOLUSDT'
XMR_URL = 'https://api.binance.com/api/v3/ticker/24hr?symbol=XMRUSDT'

CLIENT_ID =    # set the bot discord ID here

GUILD_ID =     # set the guild id here

ROLE_MESSAGE_ID =       # set the id of the message that is waiting for reactions 

ROLE_INVITE = '1175573500107436093' 

ROLE_CYBER =        #Role ID
ROLE_ADMINSYS =     #Role ID
ROLE_DEVELOPPEUR =  #Role ID
ROLE_STUDENT =      #Role ID
ROLE_AUTRE =        #Role ID
BEAR_ROLE =         #Role ID
BULL_ROLE =         #Role ID


CHANNEL_CVE =       #Channel ID
CHANNEL_INFOSEC =   #Channel ID
CHANNEL_BDDLEAKS =  #Channel ID
CHANNEL_BITCOIN =   #Channel ID
CHANNEL_ETH =       #Channel ID
CHANNEL_SOL =       #Channel ID
CHANNEL_XMR =       #Channel ID
